*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.section .contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 1rem 0;
}

.section .contact .body {
    margin: 1rem 0;
}
.section .contact .body .card {
    display: flex;
    align-items: center;
}
.section .contact .body .card .details{
    width: 14rem;
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0.4rem 0;
    padding: 5px;
    border-radius: 4px;
}
.section .contact .body .card .details:hover {
    box-shadow: 0 0 5px -0.6px black;
}

.section .contact .body .card .close-btn a{
   color: black;
}


.section .contact .form {
    display: flex;
    flex-direction: column;
}

.section .contact .form input {
    height: 2.5rem;
    width: 14rem;

    border: 0;
    border-bottom: 2px solid black;
}
 
.section .contact .form input:focus {
    outline: none;
}

.section .contact .form input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section .contact .form button {
    width: 4rem;
    margin-top: 5px;
}